<div class="container mt-4">
  <h2>Ajouter une Scolarité</h2>
  <form [formGroup]="scolariteForm" (ngSubmit)="ajouterScolarite()">
    <div class="mb-3">
      <label for="eleve_id" class="form-label">Élève</label>
      <select formControlName="eleve_id" id="eleve_id" class="form-select" (change)="onEleveChange()">
        <option value="" disabled selected>Choisissez un élève</option>
        <option *ngFor="let eleve of eleves" [ngValue]="eleve.id">{{ eleve.nom }} {{ eleve.prenom }}</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="date_naissance" class="form-label">Date de Naissance</label>
      <input formControlName="date_naissance" id="date_naissance" type="date" class="form-control" readonly />
    </div>

    <div class="mb-3">
      <label for="sexe" class="form-label">Sexe</label>
      <input formControlName="sexe" id="sexe" type="text" class="form-control" readonly />
    </div>

    <!-- <div class="mb-3">
      <label for="classe_id" class="form-label">Classe</label>
      <input formControlName="classe_id" id="classe_id" type="text" class="form-control" readonly />
    </div> -->

    <div class="mb-3">
      <label for="classe" class="form-label">Classe</label>
      <input id="classe_id" type="text" class="form-control" [value]="getNomClasse()" readonly />
    </div>
    

    <div class="mb-3">
      <label for="cout_scolarite" class="form-label">Coût de la Scolarité</label>
      <input formControlName="cout_scolarite" id="cout_scolarite" type="number" class="form-control" (input)="calculerReste()" />
    </div>

    <div class="mb-3">
      <label for="montant_paye" class="form-label">Montant Payé</label>
      <input formControlName="montant_paye" id="montant_paye" type="number" class="form-control" (input)="calculerReste()" />
    </div>

    <div class="mb-3">
      <label for="reste_a_payer" class="form-label">Reste à Payer</label>
      <input formControlName="reste_a_payer" id="reste_a_payer" type="number" class="form-control" readonly />
    </div>

    <div class="mb-3">
      <label for="etat_scolarite" class="form-label">État de la Scolarité</label>
      <input formControlName="etat_scolarite" id="etat_scolarite" type="text" class="form-control" readonly />
    </div>

    <div class="mb-3">
      <label for="date_paiement" class="form-label">Date de Paiement</label>
      <input formControlName="date_paiement" id="date_paiement" type="date" class="form-control" readonly />
    </div>

    <button type="submit"  class="btn btn-primary" [disabled]="isSubmitting">
      <i class="fas fa-save"></i> Enregistrer
    </button>
  </form>
</div>
