<!-- <div class="container mt-4">
  <h2 class="mb-4">Ajouter une Absence</h2>
  
  <form (ngSubmit)="ajouterAbsence()" #absenceForm="ngForm">
    <div class="form-group">
      <label for="eleve">Élève</label>
      <select class="form-control" id="eleve" [(ngModel)]="absence.eleve_id" name="eleve_id" required>
        <option *ngFor="let eleve of eleves" [value]="eleve.id">{{ eleve.prenom }} {{ eleve.nom }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="matiere">Matière</label>
      <select class="form-control" id="matiere" [(ngModel)]="absence.matiere_id" name="matiere_id" required>
        <option *ngFor="let matiere of matieres" [value]="matiere.id">{{ matiere.nom }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="classe">Classe</label>
      <select class="form-control" id="classe" [(ngModel)]="absence.classe_id" name="classe_id" required>
        <option *ngFor="let classe of classes" [value]="classe.id">{{ classe.nom_classe }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="jour">Jour</label>
      <select class="form-control" id="jour" [(ngModel)]="absence.jour" name="jour" required>
        <option disabled value="">Sélectionnez un jour</option>
        <option value="Lundi">Lundi</option>
        <option value="Mardi">Mardi</option>
        <option value="Mercredi">Mercredi</option>
        <option value="Jeudi">Jeudi</option>
        <option value="Vendredi">Vendredi</option>
        <option value="Samedi">Samedi</option>
        <option disabled value="Dimanche">Dimanche</option>
      </select>
    </div>

    <div class="form-group">
      <label for="heureDebut">Heure Début</label>
      <input type="time" class="form-control" id="heureDebut" [(ngModel)]="absence.heure_debut" name="heure_debut" required>
    </div>

    <div class="form-group">
      <label for="heureFin">Heure Fin</label>
      <input type="time" class="form-control" id="heureFin" [(ngModel)]="absence.heure_fin" name="heure_fin" required>
    </div>

    <div class="form-group">
      <label for="dateAbsence">Date Absence</label>
      <input type="date" class="form-control" id="dateAbsence" [(ngModel)]="absence.date_absence" name="date_absence" required>
    </div>

    

    <div class="form-group">
      <label for="enseignant">Enseignant</label>
      <select class="form-control" id="enseignant" [(ngModel)]="absence.enseignant_id" name="enseignant_id" required>
        <option *ngFor="let enseignant of enseignants" [value]="enseignant.id">{{ enseignant.prenom }} {{ enseignant.nom }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="justifie">Justifié</label>
      <select class="form-control" id="justifie" [(ngModel)]="absence.justifie" name="justifie" required>
        <option value="Oui">Oui</option>
        <option value="Non">Non</option>
      </select>
    </div>

    <div class="form-group">
      <label for="motif">Motif (si justifié)</label>
      <textarea 
      class="form-control" id="motif" 
        [(ngModel)]="absence.motif_justifie" 
        name="motif_justifie"
        [disabled]="absence.justifie === 'Non'"
        [ngClass]="{'motif-non-justifie': absence.justifie === 'Non', 'motif-justifie': absence.justifie === 'Oui'}"
      >
    </textarea>
    </div>

    <button type="submit" class="btn btn-primary btn-sm mt-3">Ajouter</button>
  </form>
</div> -->



<div class="container mt-4">
  <h2 class="mb-4">Ajouter une Absence</h2>
  <form [formGroup]="absenceForm" (ngSubmit)="ajouterAbsence()">
    <div class="form-group">
      <label for="eleve">Élève</label>
      <select class="form-control" id="eleve" formControlName="eleve_id" required>
        <option *ngFor="let eleve of eleves; trackBy: trackByIdEleve" [value]="eleve.id">{{ eleve.prenom }} {{ eleve.nom }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="matiere">Matière</label>
      <select class="form-control" id="matiere" formControlName="matiere_id" required>
        <option *ngFor="let matiere of matieres; trackBy: trackByIdMatiere" [value]="matiere.id">{{ matiere.nom }}</option>
      </select>
    </div>

    <!-- <div class="form-group">
      <label for="classe">Classe</label>
      <select class="form-control" id="classe" formControlName="classe_id" required>
        <option *ngFor="let classe of classes" [value]="classe.id">{{ classe.nom_classe }}</option>
      </select>
    </div> -->

    <div class="me-3">
      <label class="form-label">ID classe: </label>
      <select class="form-select" formControlName="classe_id">
        <option *ngFor="let classe of classes; trackBy: trackByIdClasse" [value]="classe.id">{{ classe.nom_classe }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="jour">Jour</label>
      <select class="form-control" id="jour" formControlName="jour" required>
        <option disabled value="">Sélectionnez un jour</option>
        <option value="Lundi">Lundi</option>
        <option value="Mardi">Mardi</option>
        <option value="Mercredi">Mercredi</option>
        <option value="Jeudi">Jeudi</option>
        <option value="Vendredi">Vendredi</option>
        <option value="Samedi">Samedi</option>
        <option disabled value="Dimanche">Dimanche</option>
      </select>
    </div>

    <div class="form-group">
      <label for="heureDebut">Heure Début</label>
      <input type="time" class="form-control" id="heureDebut" formControlName="heure_debut" required>
    </div>

    <div class="form-group">
      <label for="heureFin">Heure Fin</label>
      <input type="time" class="form-control" id="heureFin" formControlName="heure_fin" required>
    </div>

    <div class="form-group">
      <label for="dateAbsence">Date d'Absence</label>
      <input type="date" class="form-control" id="dateAbsence" formControlName="date_absence" required>
    </div>

    <div class="form-group">
      <label for="enseignant">Enseignant</label>
      <select class="form-control" id="enseignant" formControlName="enseignant_id" required>
        <option *ngFor="let enseignant of enseignants " [value]="enseignant.id">{{ enseignant.prenom }} {{ enseignant.nom }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="justifie">Justifié</label>
      <select class="form-control" id="justifie" formControlName="justifie" required>
        <option value="Oui">Oui</option>
        <option value="Non">Non</option>
      </select>
    </div>

    <div class="form-group">
      <label for="motif">Motif (si justifié)</label>
      <textarea 
        class="form-control" id="motif" 
        formControlName="motif_justifie" 
        [disabled]="absenceForm.get('justifie')?.value === 'Non'"
      ></textarea>
    </div>

    <button type="submit" class="btn btn-primary btn-sm mt-3" [disabled]="absenceForm.invalid">Ajouter</button>
  </form>
</div>
