<div class="container mt-4">
  <h2 class="text-center">Liste des Classes</h2>
  <button class="btn btn-success mb-3" [routerLink]="['/ajout-classe']" (click)="ajouterClasse()">Ajouter une classe</button>
  
  <table class="table table-bordered text-center">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Nom de la Classe</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let classe of classes">
        <td>{{ classe.id }}</td>
        <td>{{ classe.nom_classe }}</td>
        <td>
          <button class="btn btn-warning btn-sm mx-1" [routerLink]="['/modif-classe', classe.id]">Modifier</button>
          <button class="btn btn-danger btn-sm mx-1" (click)="supprimerClasse(classe.id)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>




